# schematic service accounts
schematic_service_account_creds.json

# synapse creds
.synapseConfig
.synapseCache/

# schema metadata templates from sysbiodccjsonschemas repo
schema_metadata_templates/

# ignore local pyenv setup and poetry env
local-pyenv-setup.sh
**/.venv/*
**/poetry.toml
**/poetry.lock

# manifest output csvs
output_csvs/

# great expectations installs when you run schematic
great_expectations/

# notes
notes.txt

# test artifacts
tests/creds.json
tests/AD.model.jsonld
tests/**/logs
tests/test-suite-report.md
tests/changed-files.txt
tests/changed-templates.json

# ignore mac files
.DS_Store
**/.DS_Store

# ignore some scratch files
scripts/add_cohort_attribute.ipynb
tests/example-manifest-selection.sh
.vscode/launch.json
scripts/.env
pyproject.toml

sheets_creds.json
dca-template-config.json
